.jetbrains-mono {
  font-family: var(--font-jetbrains-mono);
}

.geist-mono {
  font-family: var(--font-geist-mono);
}

.geist-sans {
  font-family: var(--font-geist-sans);
}

.instrument-serif {
  font-family: var(--font-instrument-serif);
}
